In [54]:
import pandas as pd
import seaborn as sns
# import wordcloud
# import matplotlib.pyplot as plt

In [55]:
data = pd.read_csv("clean_data.csv").drop(columns=["Unnamed: 0"])

In [56]:
data.head()

,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,new_title,loc_city,hq_city
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K,3.2,Vera Institute of Justice,"New York, NY","New York, NY",201 to 500 employees,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),Analyst Remote,New York,New York
1,Quality Data Analyst,$37K-$66K,3.8,Visiting Nurse Service of New York,"New York, NY","New York, NY",10000+ employees,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),Data Analyst,New York,New York
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K,3.4,Squarespace,"New York, NY","New York, NY",1001 to 5000 employees,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,Analytics Solutions,New York,New York
3,Data Analyst,$37K-$66K,4.1,Celerity,"New York, NY","McLean, VA",201 to 500 employees,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),Data Analyst,New York,McLean
4,Reporting Data Analyst,$37K-$66K,3.9,FanDuel,"New York, NY","New York, NY",501 to 1000 employees,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),Reporting Analyst,New York,New York

Let us focus on the industries and the new job titles more closely